/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');

*{
    font-family: 'PT Serif', serif;
    margin: 0;
    padding: 0;

    scroll-padding-top: 2rem;
    scroll-behavior: smooth;

    box-sizing: border-box;
    list-style: none;
    text-decoration: none; 
    cursor: pointer;
}

::-moz-selection { /* Code for Firefox */
  color: var(--bg-color);
  background: var(--main-color);
}

::selection {
  color: var(--bg-color);
  background: var(--main-color);
}

/* SCROLL */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #b19cd9;
  opacity: 0.8;
  background: linear-gradient(135deg, #ffd1dc55 25%, transparent 25%) -16px 0/ 32px 32px, linear-gradient(225deg, #ffd1dc 25%, transparent 25%) -16px 0/ 32px 32px, linear-gradient(315deg, #ffd1dc55 25%, transparent 25%) 0px 0/ 32px 32px, linear-gradient(45deg, #ffd1dc 25%, #b19cd9 25%) 0px 0/ 32px 32px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #b19cd9;
  opacity: 0.8;
  background: linear-gradient(135deg, #ffd1dc55 25%, transparent 25%) -16px 0/ 32px 32px, linear-gradient(225deg, #ffd1dc 25%, transparent 25%) -16px 0/ 32px 32px, linear-gradient(315deg, #ffd1dc55 25%, transparent 25%) 0px 0/ 32px 32px, linear-gradient(45deg, #ffd1dc 25%, #b19cd9 25%) 0px 0/ 32px 32px;
}

.contact-us{
    align-items: center;
    justify-content: center;
    display: flex;
}

/* SECTION */
.contact-container {
    margin-top: 40px;
    padding: 1.5rem 0;
}

.contact-title{
    font-size: 1.5rem;
    text-align: center;
}

/* LINKS * /
/* unvisited link */
a:link {
    color: var(--text-color);
  }
  
  /* visited link */
  a:visited {
    color: var(--text-color);
  }
  
  /* mouse over link */
  a:hover {
    color: var(--main-color) !important;
  }
  
  /* selected link */
  a:active {
    color: var(--side-color) !important;
  }